:host {
  .product {
    margin-bottom  : 24px;
    padding        : 16px;
    box-shadow     : 0 4px 20px 4px rgba(0, 0, 0, .2);
    border-radius  : 30px;
    max-width      : 400px;
    display        : flex;
    flex-direction : column;
    justify-content: center;
  }

  .title {
    margin-bottom: 8px;
  }

  .image {
    object-fit : contain;
    margin     : auto;
  }
}
